{% extends "base.html" %}

{% block main %}
<div class="mypost">
    <h1>专业</h1>
    <hr>
    <h3>专业课</h3>
    <h3>数据结构</h3>
    <h3>算法</h3>
    <h3>JavaScript</h3>
    <h3>flask</h3>
    <h3>vue</h3>
    <hr>
</div>

<div class="mypost">
    <h1>轮滑</h1>
    <hr>
    <h3>花式刹停</h3>
    <h3>平地花式</h3>
    <hr>
</div>

<div class="mypost">
    <h1>健身</h1>
    <hr>
    <h3>跑步</h3>
    <h3>游泳</h3>
    <h3>卧推</h3>
    <h3>深蹲</h3>
    <h3>体重</h3>
    <hr>
</div>

<div class="mypost">
    <h1>轮滑</h1>
    <hr>
    <h3>花式刹停</h3>
    <h3>平地花式</h3>

</div>
{% endblock %}