{% extends "base.html" %}

{% block main %}

<div class="mypost">

        <pre>

....................................................................................................
....................................................................................................
.......................................................................:MMMMMMM ....................
...................................................................:+=++MMMMMM .....................
....................................................I7+++===$O..7=+++++=MMMM$. .....................
....................................................IIII+++++==++++++++NMMM,........................
....................................................7IIIII=D=+++++++++=MMN7.........................
....................................................8IIIIO=+++++++++++M==+++=~M,....................
...............7MN=++++=+==~IN$,......Z?=++++++===$$,I?D=+++++++++++=M+++++++++==8+.................
......... ~MMMMMMM=+++++++++++++++++++++++++++++++++++~=++++++++++=M?++++++++++++++=+$. ............
......... .$MMMMMMM=++++++++++++++++++++++++++++++++++++++++++++=N+?+++++++++++++++++++8............
........... . ZMMMMM=+++++++++++++++++++++++++++++++++++++++=DIIII+++++++++++++++++++=+.............
............... ...OMM~==++++++=+++++++++++++++++++++++++++DIIIIIII?++++++++++++++++~,. ............
.......................I.......7=++NM..=++++++++++++++++++++IIIIIIIII++++++++++++++=................
......................+++=$....=++~MM..=++++++++++++7..M++++DIIIIIIII7+++++++++++++.................
.....................=++++?:..:++==MMM8+++++++++++++M,.MM+++I7IIIIIIII7+++++++++++..................
....................??+++++++~8+++++=+?++++++N=+++++~MMMD+++?OIIIIIIIII7++++++++~...................
.....................I+++++++=~Z8+++++++++++++++++++++=+++++ZD..Z$IIIIIII++++++=....................
.....................$++++++++ZZZZO++++++++~8Z+=++++++++++++87M.. .7$IIIII++++=.....................
.....................,++++++=ZZZZZZI++++IZZOZZZOONMO+++=OZZONII.....,.=OIII++=......................
......................++++++=ZZZZZZ?++++=+~~~~~~+N++++=ZZZZZO?IN.........,8I?.......................
......................+++++++OZZZZO++++++$~~~~~~~~++++=ZZZZZZIIII......... .........................
.......................+++++++8=I=?+++++++~~~~~~++++++=ZZZZZZIII?...................................
.......................=+++++++?+++++++++==~~~~=?++++++OZZZO~O?M....................................
........................+++++++==++++++++++~=?=+++++++++==:~+++=:...................................
........................N++++++++~++++++++++=+++++++++++=Z++++++++=,................................
.........................OI++++++=?=++++++++++++++++++++++++++++++++?I..............................
..........................7I+++++++++++++++++++++++++++++++++++++++++++=$...........................
..........................,ZII++++++++++++++++++++++++++++++++++++++++++~...........................
............................N=+++++++++++++?I7?++++++++++++?+++++++++++=Z...........................
........................... D++++++++++++++++++++++++++++++ZI7+++=+=~=I8............................
............................+++++++++++++++++++++++++++++++NDNDI....................................
............................=++++++++++++++++++++++++++++++NNNN.....................................
...........................M+++++++++++++++++++++++++++++++?ND......................................
...........................8+++++++++++++++++++++++++++++++=N.......................................
..........................,=++++++++++++++++++++++++++++++++Z.......................................
..........................N+++++++++++++++++++++++++++++++++~.......................................
..........................M++++++++++++++++++++++++++++++++++.......................................
..........................=++++++++++++++++++++++++++++++++++N......................................
..........................=++++++++++++++++++++++++++++++++++=......................................
.........................:++++++++++++++++++++++++++++++++++++O.....................................
.........................+++++++++++++++++++++++++++++++++++++M.....................................
.........................,++++++++++++++++++++++++++++++++++++M.....................................
..........................I=++++++++++++++??+++++++++++++++++=M.....................................
..........................N?I7?++?I7IIIIIIIIIIIIIIII7I?+++?7IZ......................................
...........................MIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII7~.......................................
...........................N+IIII7ZM:.... .      . ....~N++++~~.....................................
..........................M=$?+=M,.......................??=+++,....................................
..........................MNMD...............................MZ8 ...................................
....................................................................................................

        </pre>

</div>


{% endblock %}