{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block main %}

{% if form %}
<div class="mypost">
    <form method="POST">
        <div class="form-group">
            {{ form.csrf_token(class="form-control") }}
            {{ form.content(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-default") }}
    </form>
</div>
{% endif %}


{% for post in posts %}
<div class="mypost">
    <h4>{{ post.content }}</h4>
    {% if current_user.is_authenticated %}
    <small style="float: right"><a href="{{ url_for('auth.edit_post', id=post.id)}}">修改</a></small>
    {% endif %}
    <small style="float: right">{{ post.timestamp }}</small>
</div>
{% endfor %}

{% endblock %}
